@font-face {
	font-family: 'Montserrat'; 
	src: url(../resources/Montserrat-Bold.woff2);
	font-weight: 700; 
}
@font-face {
	font-family: 'Montserrat'; 
	src: url(../resources/Montserrat-Regular.woff2); 
	font-weight: 400;
}

body{
    font-family: 'Montserrat';
}