.menu{
    padding: 0 100px;
    &__container-desk{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__container-mob{
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        background: var(--color-background);
        z-index: 100;
        transition: clip-path .7s ease;
    }
    &__item-mob{
        font-size: 36px;
        margin: 15px 0;
        font-weight: bold;
	    color: black;
        background-image: linear-gradient(90deg, #131313, #131313);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px #808080;
    }
    &__part-left{
        display: flex;
        align-items: center;
    }
    &__part-right{
        display: flex;
        align-items: center;
    }
    &__icon-mob{
        display: none;
        cursor: pointer;
    }
    &__logo{
        cursor: pointer;
    }
    &__list{
        display: flex;
        flex-wrap: wrap;
        list-style: none;
    }
    &__list-mob{
        list-style: none;
    }
    &__item{
        font-size: 14px;
        margin: 20px;
        font-weight: 700;
    }
    &__buttons{
        display: flex;
    }
}

@media screen and (max-width: 1200px){
    .menu{
        padding: 0 50px;
        &__item{
            font-size: 13px;
            margin: 20px 10px;
        }
    }
}

@media screen and (max-width: 992px){
    .menu{
        padding: 0 30px;
        &__logo img{
            width: 130px;
        }
        &__item{
            font-size: 12px;
            margin: 5px 10px;
        }
    }
}

@media screen and (max-width: 768px){
    .menu{
        padding: 20px 0;
        &__logo img{
            width: 150px;
            justify-content: center;
            padding-left: 20px;
        }
        &__icon-mob{
            display: block;
        }
        &__part-left{
            padding-left: 40px;
        }
        &__part-right{
            padding-right: 40px;
        }
        &__list{
            display: none;
        }
        &__container-mob{
            display: block;
            & .menu__buttons{
                display: none;
            }
        }
    }
}

@media screen and (max-width: 576px){
    .menu{
        &__item-mob{
            font-size: 20px;
        }
        &__part-right{
            display: none;
        }
        &__container-mob{
            & .menu__buttons{
                display: block;
                padding: 0 40px;
            }
        }
    }
}